{% extends 'layout.html' %}

{% block title %}
    Change Password
{% endblock %}

{% block content %}
    <h1>Change Password</h1>
    <form method="post">
        {% csrf_token %}
        <!-- Email input field -->
        <label for="email">Email:</label>
        <input type="text" name="email" required>
    
        <!-- New password input field -->
        <label for="first_entry">New Password:</label>
        <input type="password" name="first_entry" required>

        <!-- Confirm new password input field -->
        <label for="new_password">Enter Password Again:</label>
        <input type="password" name="new_password" required>
        <button type="submit">Change Password</button>
    </form>
    
    <!-- Display messages (e.g., success or error messages) -->
    <h2>{{ messages }}</h2>
    
{% endblock %}


