<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <nav>
        <a href = "{% url "recipes:list" %}"> Recipes List 🍽️ </a> |
        {% if user.profile.is_admin %}
            <a href = "{% url "recipes:admin-panel" %}"> Admin Homepage </a> |
        {% endif %}
        {% if user.is_authenticated  %}
            <a href = "{% url "users:favourites" %}"> Favourite recipes </a> |
            <a href = "{% url "users:tobakes" %}"> To Bake recipes </a> |
            <a href="{% url 'users:change_settings' %}">Settings</a> |
            <form class = "logout" action="{% url "users:logout" %}" method="post">
                {% csrf_token %}
                <button class = "logout-button" title="User Logout"> Logout </button>
            </form>

        {% else %}
            <a href = "{% url "users:register" %}"> Register </a> |
            <a href = "{% url "users:login" %}"> Login </a> 
        {% endif %}


    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>